@page "{postId:int}"
@model UserAuthBlog.Pages.Posts.DeleteModel
@{
}

<h2>Delete Post: @Model.Post.Title</h2>

<form method="post">
    <button type="submit" class="btn btn-outline-danger">Delete</button>
</form>
