@page
@model UserAuthBlog.Pages.Posts.IndexModel
@{
}

<h2>View All Posts</h2>

@foreach (var post in Model.Posts)
{
    <div class="container">
        <span>
            <span class="h4">Title:</span>
            <span>@post.Title</span>
        </span>
        <span>
            <span class="h4">Body:</span>
            <span>@post.Body</span>
        </span>
        <span>
            <span class="h4">User</span>
            <span>@post.ApplicationUserId</span>
        </span>
    </div>
}